
/.idea
/Project1/.idea
/Project1/monthly_challenges/challenges/__pycache__
/Project1/monthly_challenges/monthly_challenges/__pycache__
/Project1/monthly_challenges/monthly_challenges/__pycache__
/my_site/blog/__pycache__
/my_site/blog/migrations/__pycache__
*.pyc
/my_site/my_site/__pycache__
/book_store/.idea
